<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeLog"
        tools:targetApi="31">
        <activity
            android:name=".DovizTakip.SatinAlimPageActivity"
            android:exported="false" />
        <activity
            android:name=".DovizTakip.DovizListeleActivity"
            android:exported="false" />
        <activity
            android:name=".KaloriTakip.KaloriEkleActivity"
            android:exported="false" />
        <activity
            android:name=".KaloriTakip.YemekListeleActivity"
            android:exported="false" />
        <activity
            android:name=".DersTakip.DersTakip2Activity"
            android:exported="false" />
        <activity
            android:name=".KriptoPages.SellCryptoActivity"
            android:exported="false" />
        <activity
            android:name=".KriptoPages.SatinAlimActivity"
            android:exported="false"
            android:theme="@style/Theme.LifeLog" />
        <activity
            android:name=".KriptoPages.AllCryptoActivity"
            android:exported="false" />
        <activity
            android:name=".GoldPages.AltinDetayActivity"
            android:exported="false" />
        <activity
            android:name=".PluginPages.DersNotTakipActivity"
            android:exported="false" />
        <activity
            android:name=".PluginPages.KaloriActivity"
            android:exported="false" />
        <activity
            android:name=".PluginPages.DersTakipActivity"
            android:exported="false" />
        <activity
            android:name=".PluginPages.FutbolActivity"
            android:exported="false" />
        <activity
            android:name=".PluginPages.DovizActivity"
            android:exported="false" />
        <activity
            android:name=".GoldPages.AltinActivity"
            android:exported="false" />
        <activity
            android:name=".PluginPages.KriptoActivity"
            android:exported="false" />
        <activity
            android:name=".Notes.NotuGoruntuleActivity"
            android:exported="false" />
        <activity
            android:name=".Notes.NotYazmaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>